<a href="https://colab.research.google.com/github/lucilaneosantos/data_science_inicial/blob/master/primeiros_passos_com_data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# importando a bliblioteca pandas para leitura de um arquivo csv para analise
import pandas as pd
#leitura dos dados e atribuição para variavel
notas = pd.read_csv("ratings.csv")
#comando para leitura de cabeçalho
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [9]:
#total de linhas e colunas
notas.shape

(100836, 4)

In [10]:
#modificando os valores das colunas dos dados
notas.columns = ["usuarioID","filmeId", "nota","momento"]
#leitura de cabeçalho
notas.head()

   usuarioID  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [13]:
#utilizando o metodo para verificar valores unicos dna coluna nota do dados
notas['nota'].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [15]:
#verificando a quantidade de valores inseridos , contador.
notas['nota'].value_counts()

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: nota, dtype: int64

In [17]:
# media total de notas
notas['nota'].mean()

3.501556983616962